{% extends 'base.html' %}

{% block title %}Postlar{% endblock title %}

{% block content %}
    <div>
    {% for article in object_list %}

        <div class="card mb-4 mx-auto" style="max-width: 60%;">
            <div class="card-header">
                <span class="font-weight-bold"><a href="{% url 'article_detail' article.id %}" style="text-decoration: none;"><h2>{{ article.title }}</h2></a> </span>
            </div>
            {% if article.photo %}
                <img class="card-img-top" src="{{ article.photo.url }}" alt="{{ article.title }}">
            {% endif %}
            <div class="card-body">
                {{ article.summary }}...<a href="{% url 'article_detail' article.pk %}">Batafsil</a>
            </div>
            <div class="card-footer text-left text-muted">
                <span class="text-muted">muallif {{ article.author | title }} . {{ article.date }}</span>
            </div>
        <br/>
        </div>
    {% endfor %}
    </div>


{% endblock content %}