
{% extends 'base.html' %}
{% block title %}Bosh sahifa{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        {{ user.username }}!
        <!--O'zim yaratgan forms boshlanish-->
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <!--O'zim yaratgan forms boshlanish-->
    {% else %}
        <p>Saytga kirmagansiz</p>
        <a href="{% url 'login' %}">Kirish</a> |
        <a href="{% url 'signup' %}">Ro'yxatdan o'tish</a>
    {% endif %}
{% endblock content %}